{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<table width="100%">
<tbody>
<tr>
<td>asdasd</td>
<td> asddddd</td>
</tr>
</tbody>
</table>